@import url('https://fonts.googleapis.com/css?family=Bitter|Raleway');


* {
	margin: 0;
	border:0;
	padding: 0;
}
body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	border:0;
	font-size: 16px;
	line-height: 22.4px;
	display: flex;
	flex-direction: column;
}
section, header, footer{
	flex: 1;
}

h2, h3, h4{
	font-family: 'Bitter', serif;
}
h2{
	color: rgb(50, 61, 66);
	font-size: 32px;
	line-height: 44,8px;
}
h3{
	font-size: 24px;
	line-height: 33,6px;
}
section .titulo, section .descipcion{
	width: 100%;
	text-align: center;	
}
section .titulo{
	margin-bottom: 15px;
}
footer{
	background: #000000;
	color: lightslategray;
	padding: 10px;
	text-align: center;
}
header{
	background-image: url('../img/portada.jpg');
	background-size: cover;
}
header h1{
	color: #ffffff;
	line-height: 90px;
	font-size: 100px;
	font-weight: bold;
}
header h2{	
	background: rgba(255,254,183, 1);
	padding: 8px 20px;
	margin-top: 10px; 	
}
a {
	text-decoration: none;	
}
.contenedor{
	margin: 0 10%;
}
.hide {
	visibility:hidden;
}
.section-header{
	flex: 1;
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 80px 0 50px 0;
}
.portada{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 90vh;
}
.escritura{
	color: #000000;
	font-family: 'Bitter', serif;
	font-size: 24px;
	line-height: 44,8px;
}
.menu{
	width: 100%;	
}
.menu a {
	color: #ffffff;
}
.menu ul{
	float: right;	
}
.menu li{ 
	padding: 5px 10px;
	display: inline-block;
}
.menu-top{
	background-image: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(50,84,101,0.8) 100%);
	background-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(50,84,101,0.8) 100%); 
	background-image: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(50,84,101,0.8) 100%); 	
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255,255,255,0)), color-stop(100, rgba(50,84,101,0.8)));  	
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(50,84,101,0.8) 100%);  	
	background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(50,84,101,0.8) 100%); 
}
.menu-bottom{
	z-index: 1000;
	background-image: linear-gradient(to right,  rgb(243, 243, 243) 0%,rgba(255,255,255,1) 50%); 
	box-shadow: 0px 9px 21px -8px rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
}
.menu-bottom ul li a{
	color: rgb(50,84,101);
}
#experiencia{
	height: 30vh;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.progreso {
	width: 100%;
	display: block;
}

.progreso li{
	display: inline-block;
	margin: 0px -5px;
	background: rgb(50,84,101);
}
.progreso .conector {
	width: 30%;
	padding: 1px 0;
}
.progreso .contenido {
	color: rgb(255,254,183);
	padding: 10px 15px;
	border-radius: 60px;
}
.progreso .contenido-vacio {
	color: rgb(50,84,101);
	padding: 0 15px;
	font-size: 32px;
	font-style: inherit;
	background: transparent;
}
#portafolio{
	display: flex;
	flex-direction: column;
	background-color:rgb(250,250,250);
}
#portafolio article{
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(245,245,245);
}
#portafolio article div {
	height: 50vh;
	flex: 1;
	flex-grow: 1;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#portafolio article .izquierda{
	align-items: flex-start;
	padding: 0 10px;
}
#portafolio .img-contenedor img{
	width: 100%;
	height: 50vh;
	position: absolute;
	top: 0;
	left: -30px;
	box-shadow: 9px 9px 21px -8px rgba(0,0,0,0.75);
}
#portafolio .img-contenedor .abajo {
	height: 50vh;
	position: absolute;
	top: -30px;
	left: 0px;	
	width: 100%;
	box-shadow: 9px 9px 21px -8px rgba(0,0,0,0.75);
	background-image: linear-gradient(to top, rgba(126, 87, 112, 0.5) 0%, rgba(255,254,183, 0.5) 30%,rgba(208, 150, 122,0.5) 100%);
}  
#portafolio .img-contenedor  .arriba {
	height: 50vh;
	position: absolute;
	top: 0;
	left: -30px;
	display: flex;
	justify-content: center;
	align-items: center;	
	width: 100%;
	background: rgba(0,0,0,.5);
	opacity: 0;
	transition: opacity 0.5s ease;
}  
#portafolio .img-contenedor .arriba .boton {
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s ease;
}
#portafolio .img-contenedor .boton a {
	padding: 12px 48px;
	text-align: center;
	color: rgb(255, 255, 255);
	border: solid 2px rgb(255, 255, 255);
}
#portafolio .img-contenedor:hover .arriba, #portafolio .img-contenedor:hover .boton {
	opacity: 1;
}
/* ------------------------------------------------ */
#habilidades{
	display: flex;
	flex-direction: column;
}
#habilidades .contenedor{
	justify-content: space-around;
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}
#habilidades .disiplinas{
	padding-bottom: 5vh;
	width: 100%;
	display: flex;
	justify-content: center;
} 
.disiplinas-item{
	flex: 1;
	flex-grow: 1;
	width: 50px;
	margin: 10px;
}
.contenedor-bar {
	position: relative;
    height: 50vh;
}
.bar-limit {
    position: absolute;
    width: 100%;
    bottom: 33px;
    border-radius: 2px;
	background-color: #00bcd4;
}
.bar-title {
    font-size: 12px;
	top: -100px;
	color: #00bcd4;
}
.bar-title, .skill-count {
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 400;
    position: absolute;
}
.bar {
    height: 70%;
    width: 1px;
    position: absolute;
    top: -70px;
	left: 50%;
	background-color: #00bcd4;
}
.skill-count {
    bottom: 0;
	color: #00bcd4;
}

.grafico-contenedor p{
	padding: 15px 0 15px 0;
}
.grafico-contenedor p:first-of-type{
	padding: 0 0 15px 0;
}
.grafico-contenedor .grafico{
	padding: 0;
	width: 100%;
	background-color: #e9e9e9;
}
.grafico-contenedor .grafico div{
	padding: 0;
	background:  rgb(50,84,101);
	color: #ffffff;
	text-align: center;
}
/* ----------------------------------------------- */
#contacto{
	background: rgb(50,84,101);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#contacto .titulo {
	color: #ffffff;
}
#contacto div{
	width: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	
}
.contactos{
	padding-top: 20px;
	width: 100%;	
	text-align: center;
}
.contactos a {
	color: #ffffff;
}

.contactos li{
	display: inline-block;
	border: 1px solid rgb(255,254,183);
	padding: 10px 15px;
}
.contactos a{
	padding: auto;
	background: transparent;
	color: rgb(255,254,183);
	font-size: 20px;
	width: 100%;
}
.brillo{
	position: relative;
	overflow: hidden;
}
.brillo:after {
	content: "";
	position: absolute;
	top: -110%;
	left: -210%;
	width: 200%;
	height: 200%;
	opacity: 0;
	transform: rotate(30deg);	
	background: rgba(255, 255, 255, 0.13);
	background: linear-gradient(
	  to right, 
	  rgba(255, 255, 255, 0.13) 0%,
	  rgba(255, 255, 255, 0.13) 77%,
	  rgba(255, 255, 255, 0.5) 92%,
	  rgba(255, 255, 255, 0.0) 100%
	);
}    
.brillo:hover:after {
	opacity: 1;
	top: -30%;
	left: -30%;
	transition-property: left, top, opacity;
	transition-duration: 0.7s, 0.7s, 0.15s;
	transition-timing-function: ease;
}    
.brillo:active:after {
	opacity: 0;
}
