 @import url('https://fonts.googleapis.com/css?family=Bitter|Raleway');


* {
	margin: 0;
	border:0;
	padding: 0;
}
body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	border:0;
	font-size: 16px;
	line-height: 22.4px;
	display: flex;
	flex-direction: column;
}
section, header, footer{
	flex: 1;
}

h2, h3, h4{
	font-family: 'Bitter', serif;
}
h2{
	color: rgb(50, 61, 66);
	font-size: 32px;
	line-height: 44,8px;
}
h3{
	font-size: 24px;
	line-height: 33,6px;
}
section .titulo, section .descipcion{
	width: 100%;
	text-align: center;	
}
section .titulo{
	margin-bottom: 15px;
}
footer{
	background: #000000;
	color: lightslategray;
	padding: 10px;
	text-align: center;
}
header{
	background-image: url('../img/portada.jpg');
	background-size: cover;
}
header h1{
	color: #ffffff;
	line-height: 90px;
	font-size: 100px;
	font-weight: bold;
}
header h2{	
	background: rgba(255,254,183, 1);
	padding: 8px 20px;
	margin-top: 10px; 	
}
a {
	text-decoration: none;	
}
.contenedor{
	margin: 0 10%;
}
.hide {
	visibility:hidden;
}
.section-header{
	flex: 1;
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 80px 0 50px 0;
}
.portada{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 95vh;
}
.escritura{
	color: #000000;
	font-family: 'Bitter', serif;
	font-size: 24px;
	line-height: 44,8px;
	border-right: 1px solid #000
}
.menu{
	width: 100%;	
}
.menu a {
	color: #ffffff;
}
.menu ul{
	float: right;	
}
.menu li{ 
	padding: 5px 10px;
	display: inline-block;
}
.menu-top{
	background-image: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(50,84,101,0.8) 100%);
	background-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(50,84,101,0.8) 100%); 
	background-image: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(50,84,101,0.8) 100%); 	
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255,255,255,0)), color-stop(100, rgba(50,84,101,0.8)));  	
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(50,84,101,0.8) 100%);  	
	background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(50,84,101,0.8) 100%); 
}
.menu-top a:hover{
	color: rgba(255,255,255,.5);
}
.menu-bottom a:hover{
	color: rgba(50,84,101,.5);
}
.menu-bottom{
	z-index: 1000;
	background-image: linear-gradient(to right,  rgb(243, 243, 243) 0%,rgba(255,255,255,1) 50%); 
	box-shadow: 0px 9px 21px -8px rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
}
.menu-bottom ul li a{
	color: rgb(50,84,101);
}
.experiencia{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	background: #f8f9fb;
}

.progreso {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progreso li{
	display: inline-block;
	margin: 0px -1px;
	background: rgb(50,84,101);
}
.progreso .conector {
	width: 30%;
	padding: .5px 0;
}
.progreso .contenido {
	color: rgb(50,84,101);;
	border: 1px solid rgb(50,84,101);
	background: transparent; 
	padding: 10px 15px;
	border-radius: 60px;
}
.progreso .contenido-vacio {
	color: rgb(50,84,101);
	padding: 0 15px;
	font-size: 32px;
	font-style: inherit;
	background: transparent;
}
.portafolio{
	display: flex;
	flex-direction: column;
}
.portafolio article{
	background-color: #f8f9fb;
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}
.portafolio article div {
	height: 60vh;
	flex: 1;
	flex-grow: 1;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.portafolio article .izquierda{
	align-items: flex-start;
	padding: 0 10px;
}
.portafolio .img-contenedor{
	overflow: hidden;
}
.portafolio .img-contenedor img{
	width: 100%;
	height: 100%;
	transition: transform 1s ease;
}
.portafolio .img-contenedor  .arriba {
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;	
	width: 100%;
	background: rgba(255,254,183, .9);
	opacity: 0;
	transition: opacity 0.3s ease;
}  
.portafolio .img-contenedor .arriba .boton {
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s ease;
}
.portafolio .img-contenedor .boton a {
	padding: 12px 48px;
	text-align: center;
	color: lightslategray;
	border: solid 2px lightslategray;
	transition: transform 0.5s ease;
}
.portafolio .img-contenedor .boton a:hover{
	transform: scale(1.1);
	color: rgb(50,84,101);
	border-color: rgb(50,84,101);
	background: rgba(255,255,255,.2);
}
.portafolio .img-contenedor:hover img{
	transform: scale(1.5);
}
.portafolio .img-contenedor:hover .arriba, .portafolio .img-contenedor:hover .boton {
	opacity: 1;
}

/* ------------------------------------------------ */
.habilidades{
	display: flex;
	flex-direction: column;
}
.habilidades .contenedor{
	justify-content: space-around;
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}
.habilidades .disiplinas{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 10vh;
} 
.disiplinas-item{
	width: 30%;
	margin: 20px 10px;
}
.bar {
	padding: 0;
	width: 100%;
	border-radius: 60px;
	border: 1px solid  rgb(50,84,101);
	overflow: hidden;
}
.bar-limit {
	padding: 0;
	background:  rgb(50,84,101);
	color: white;
	text-align: center;
}


.contacto{
	background: rgb(50,84,101);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contacto .titulo {
	color: #ffffff;
}
.contacto div{
	width: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	
}
.contactos{
	padding-top: 20px;
	width: 100%;	
	text-align: center;
}
.contactos a {
	color: rgba(255,255,255, .5);
	font-size: 30px;
	width: 100%;
	padding: auto;
	transition: color .5s ease;
}
.contactos li{
	display: inline-block;
	padding: 10px 15px;
}
.contactos a:hover{
	color: rgb(255,254,183);
}
.services{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

.services .services-sect{
	flex: 1;
	position: relative;
} 
.services .services-sect:first-child{
	height: 50vh;
}
.services .services-sect:last-child{
	height: 30vh;
}
.services-media{
	background: url('../img/portada1.jpg');
	background-size: cover;
}

.services-media div{
	background: rgba(255,255,255,.5);
	width: 100%;
	height: 100%;
} 

.services-content{
	position: absolute;
	width: 80%;
	height: 50vh;
	left: 10%;
	z-index: 1;
	top: -80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
} 
.services-content > div {
	width: 30%;
	height: 90%;	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.services-content > div > span{
	margin: 0;
	font-size: 64px;
} 
.services-content > div > h4{
	margin: 30px 0 10px 0;
}   
.estudios{
	background: rgb(50,84,101);
}
.estudios > .contenedor {
	height: 70vh;
	display: flex;
}
.estudios > .contenedor > div {
	flex:1;
	height: 100%;
}
.timeline{
	display: flex;
	flex-direction: column;
}
.timeline > div{
	width: 100%;
	height: 100%;
	display: flex;
	flex: 1;
}
.timeline .titel{
	align-items: center;
	justify-content: flex-start;
}
.timeline .titel h2{
	color: rgb(255,254,183);
}
.time-item{
	flex:1;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.time-item > .time-indicator{
	background: lightslategray;
    height: 5%;
    border-radius: 20%;
    position: absolute;
	bottom: 10%;
	left: 48%;
	right: 48%;
	transition-duration: .5s; 
	transition-timing-function: ease;
} 
.time-item > .time-name {
	color: lightslategray;
    font-size: 16px;
    position: absolute;
	bottom: 15%;
	width: 100%;
	left: 30%;
	right: 30%;
	transition-duration: .5s; 
	transition-timing-function: ease;
} 
.time-item:hover .time-name{
	transform: translateY(-100%);
}
.time-item:active .time-name{
	color:rgba(255,254,183,.5);
	
}
.time-item:active .time-indicator{
	background:rgba(255,254,183,.5);
	
}
.time-item.active > .time-name{
	color:rgb(255,254,183);
} 
.time-item.active > .time-indicator{
	background:rgb(255,254,183);
} 
.timeline-content{
	display: flex;
	align-items: center;
	justify-content: center;	
	flex-direction: column;
}
.time-content{
	width: 80%;
	height: 80%;
	display: none;
}
.show{
	display: block!important;
}
.slider{
	position: relative;
	height: 100%;
	width: 100%;
	box-sizing: inherit;
}
.slider .slider-content{	
	display: none;
	transition-duration: 1s;
	transition-timing-function: ease;
}
.slider .slider-button{
	position: absolute;
	right: 45%;
	padding: 5px 0;
	text-align: center;
	opacity: 0;
	transition-duration: 1s;
	transition-timing-function: ease;
	cursor: pointer;
}
.slider .slider-button span{
	font-size: 32px;
	color:  rgba(255,255,255,.3);
	padding: 5px 15px;
}
.slider .slider-button:hover{
	opacity: 1;
}
.slider .slider-button:active span{
	color: rgba(255,255,255,.8);
}
.slider .slider-button.slider-top{
	top: 0%;
}
.slider .slider-button.slider-bottom{
    bottom: 0%;
}
.estudio-curso{
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	color: #ffffff;
}
.estudios-category{
	font-size: 26px;
	margin-bottom: 5%;
	color: rgb(255,254,183);
}
.estudios-title{
	font-style: italic;
	margin-bottom: 2%;
	font-size: 24px;
}
.estudios-description,  .estudios-description a{
	color: lightslategray;
}
