/* fuentes del proyecto */
@import url('https://fonts.googleapis.com/css?family=Bitter|Raleway');

/* Estilos generales */
* {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	border:0;
	font-size: 16px;
	line-height: 22.4px;
}
 /* Estilos de Etiquetas */
h2, h3, h4{
	font-family: 'Bitter', serif;
}
h2{
	color: rgb(50, 61, 66);
	font-size: 32px;
	line-height: 44,8px;
}
h3{
	font-size: 24px;
	line-height: 33,6px;
}
a {
	color: #ffffff;
	text-decoration: none;	
}
i{
	color: rgb(50,84,101);
}
footer{
	background: #000000;
	color: lightslategray;
	padding: 10px;
	text-align: center;
}
/* Clases del proyecto */

/* Clases generales */
.titulo{
	padding-top: 80px;
	text-align: center;	
}
.descipcion{
	padding:20px 20px 50px 20px;
	text-align: center;
}
/* Portada */
.header{
	background-image: url('../img/portada.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%; 
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.header h1{
	color: #ffffff;
	line-height: 90px;
	font-size: 95px;
	font-weight: bold;
	padding-top: 100px;
	margin-left: 7%;	
}
.header h2{	
	background-image: linear-gradient(to left,rgba(255,254,183, 1) 30%,rgba(208, 150, 122,1) 100%);
	margin-left: 7%;
	margin-bottom:240px;
	display: inline-block;
	padding: 8px 20px;	
}
.wrap{
	color: #000000;
	font-family: 'Bitter', serif;
	font-size: 24px;
	line-height: 44,8px;
}
/* Estilos del Menu */
.menu{
	width: 100%;	
}
.menu ul{
	float: right;	
}
.menu li{ 
	padding: 5px 10px;
	display: inline-block;
}
.menu-top{
	background-image: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(50,84,101,0.8) 100%);/*  IE10+ */  	
	background-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(50,84,101,0.8) 100%); /* Mozilla Firefox   */	
	background-image: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(50,84,101,0.8) 100%); /* Opera */  	
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255,255,255,0)), color-stop(100, rgba(50,84,101,0.8))); /* Webkit (Safari/Chrome 10) */  	
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(50,84,101,0.8) 100%); /* Webkit (Chrome 11+) */  	
	background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(50,84,101,0.8) 100%); /* W3C Markup */  
}
.menu-bottom{
	z-index: 1000;
	background-image: linear-gradient(to right,  rgb(243, 243, 243) 0%,rgba(255,255,255,1) 50%); /* W3C Markup */  
	box-shadow: 0px 9px 21px -8px rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
}
.menu-bottom ul li a{
	color: rgb(50,84,101);
}
/* Seccion de portafolio */
#portafolio{
	background-color: rgb(243,243,243);
}
.proyecto{ 
	width:100%;
	display: flex;
	flex-wrap: wrap;		
}
.proyecto div{
	width: 50%;
	flex-grow:1;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
	flex-direction: column; 
	position: relative;   
}
.proyecto div {
	height: 500px;
}
.media{
	position: relative;
}

.media img, .media div {
	width: 100%;
	height: 420px; 
	position: absolute;
	box-shadow: 9px 9px 21px -8px rgba(0,0,0,0.75);
}

.media div{
	background-image: linear-gradient(to top, rgba(126, 87, 112, 0.5) 0%, rgba(255,254,183, 0.5) 30%,rgba(208, 150, 122,0.5) 100%);
} 
.media-derecha img{
	top: -20px;
	left: 30px;
}
.media-derecha div{
	top: 30px;
	left: 80px;
} 

.derecha{
	align-items: flex-end;
}
.izquierda{
	align-items: flex-start;
}
.resumen h3{
	padding: 10px 100px 0 100px;
	display: inline-block;
}
.resumen p{
	padding: 10px 100px 10px 100px ;
	text-align: justify;
}
/* Seccion de aptitudes */
.disiplinas{ 
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 100px;
}

.disiplinas div{
	width: 40%;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
	flex-direction: column; 
	position: relative;   
}
.disiplinas p{
	padding: 15px 0 15px 0;
}
.disiplinas .grafico{
	width: 100%;
	background-color: #e9e9e9;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255,255,255,.5) 10px, rgba(255,255,255,.5) 30px);
}

.disiplinas .grafico div{
	background:  rgb(50,84,101);
	color: #ffffff;
	text-align: center;
}
/* Seccion de Contacto */
.contacto{
	background: rgb(50,84,101);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contacto .titulo {
	color: #ffffff;
	padding-top: 50px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.contacto div{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}
.contacto a{
	background-image: linear-gradient(to top,rgba(255,254,183, 1) 30%,rgba(208, 150, 122,1) 100%);
    border-radius: 5px;
	padding: 10px 15px;
	font-size: 20px;
	margin: 0 10px 0 10px;
}
/* Efecto de Brillo */
.brillo{
	position: relative;
	overflow: hidden;
}
.brillo:after {
	content: "";
	position: absolute;
	top: -110%;
	left: -210%;
	width: 200%;
	height: 200%;
	opacity: 0;
	transform: rotate(30deg);	
	background: rgba(255, 255, 255, 0.13);
	background: linear-gradient(
	  to right, 
	  rgba(255, 255, 255, 0.13) 0%,
	  rgba(255, 255, 255, 0.13) 77%,
	  rgba(255, 255, 255, 0.5) 92%,
	  rgba(255, 255, 255, 0.0) 100%
	);
}
    
.brillo:hover:after {
	opacity: 1;
	top: -30%;
	left: -30%;
	transition-property: left, top, opacity;
	transition-duration: 0.7s, 0.7s, 0.15s;
	transition-timing-function: ease;
}
    
.brillo:active:after {
	opacity: 0;
}

.hide {
	visibility:hidden;
}

/* Seccion de Experiencia */
.experiencia{
	text-align: center;
}

.progreso {
	margin: 70px 0;
	list-style-type: none;
}

.progreso li{
	display: inline-block;
	margin: 0px -5px;
	background: rgb(50,84,101);
}

.progreso .conector {
	width: 30%;
	padding: 1px 0;
}
.progreso .contenido {
	color: rgb(255,254,183);
	padding: 10px 15px;
	border-radius: 60px;
}
.progreso .contenido-vacio {
	color: rgb(50,84,101);
	padding: 0 15px;
	font-size: 32px;
	font-style: inherit;
	background: transparent;
}

